<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-br" xmlns="http://www.thymeleaf.org/1999/xhtml" xmlns:th:="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="css/making-of.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1427889564468519"
     crossorigin="anonymous"></script>
    <title>Making-of - A comunidade de artistas independentes</title>
</head>

<body>
    <header class="header">
        <nav class="nav">
            <img src="#" alt="Making-of"></img>
            <ul class="header-ul">
                <li><a href="login/login.html">Entrar</a></li>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="/buscarPerfis">Artistas</a></li>
                <li><a href="#preco">Planos</a></li>
            </ul>
        </nav>        
    </header>
    <div class="cta">
        <h1>Seja membro da comunidade <span th:text="${makingof}"></span></h1>
        <h2>Crie o seu perfil agora mesmo e compartilhe com produtores e agencias.</h2>
        <form class="btn-cadastro">
            <input type="text" placeholder="Digite seu melhor email">
            <button type="submit" >Seja membro</button>
        </form>
    </div>

    <div class="flex">
        <main class="main">
            <section class="beneficios" id="beneficios">
                <div class="beneficios-item">
                    <h2>Independência artistica</h2>
                    <p>Você irá desenvolver sua carreira no mundo do audiovisual de forma totalmente independente, mesmo que
                        não saiba como começar.</p>
                </div>

                <div class="beneficios-item">
                    <h2>Networking</h2>
                    <p>Se conectar com pessoas de diversos lugares e conhecimentos para desenvolver projetos audiovisuais em
                        grupo.</p>
                </div>
                <div class="beneficios-item">
                    <h2>Portifólio com o seu perfil</h2>
                    <p>Você terá uma pagina de perfil com todos as suas produções independentes para compartilhar com produtores e agencias em busca de castings e jobs.</p>
                </div>

                <div class="beneficios-item">
                    <h2>Mini cursos</h2>
                    <p>Terá acesso aos nossos mini cursos, com certificação e carga horária (ideal para quem está cursando
                        ou quer tirar DRT) com o objetivo de obter/ alinhar conhecimentos básicos sobre:</p>
                    <ul>
                        <li>Carreira & Posicionamento de Carreira</li>
                        <li>Criação de conteúdo</li>
                        <li>Desenvolvimento pessoal</li>
                        <li>Criação de projetos</li>
                        <li>Captação de recursos</li>
                    </ul>
                </div>
            </section>

            <section class="sobre" name="sobre" id="sobre">
                <h1 class="sobre-item">Sobre</h1>
                <p class="sobre-item">A comunidade making-of nasceu com o objetivo de unir artistas apaixonados por audiovisual para
                    compartilharmos experiências, aprender uns com os outros, desenvolver nossa carreira como artistas
                    independentes e projetos audiovisuais épocos onde cada artista terá sua página de perfil para
                    compartilhar como portifólio artistico.</p>
            </section>

            <section class="patrocinadores"  id="patrocinadores">
                <h1>Patrocinadores</h1>
                <div>
                    <div class="patrocinador-item">
                        <img src="imagens/anuncio-2.jpg" alt="">
                        <p>Nome do patrocinador 1</p>
                        <button class="patrocinio-button">Saiba Mais</button>
                    </div>
                    <div class="patrocinador-item">
                        <img src="imagens/anuncio-2.jpg" alt="">
                        <p>Nome do patrocinador 2</p>
                        <button class="patrocinio-button">Saiba Mais</button>
                    </div>
                    <div class="patrocinador-item">
                        <img src="imagens/anuncio-2.jpg" alt="">
                        <p>Nome do patrocinador 3</p>
                        <button class="patrocinio-button">Saiba Mais</button>
                    </div>
                </div>

                <aside class="anuncio" id="anuncio">
                    <div class="aununcio-item1">
                        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1427889564468519"
             crossorigin="anonymous"></script>
                    </div>
                
                    <div class="aununcio-item2">
                        <img src="imagens/anuncio-1.jpg" alt="anuncio2">
                    </div>
        
                    <div class="aununcio-item3">
                        <img src="imagens/anuncio-1.jpg" alt="anuncio2">
                    </div>
        
                    <div class="aununcio-item4">
                        <img src="imagens/anuncio-1.jpg" alt="anuncio2">
                    </div>
        
                    <div class="aununcio-item5">
                        <img src="imagens/anuncio-1.jpg" alt="anuncio2">
                    </div>
            </section>

            <section class="preco" id="preco">
                <div class="preco-item">
                    <h2>Cobre</h2>
                    <span class="span"><sup>R$</sup> 10</span>
                    <ul>
                        <li>Pagamento mensal</li>
                        <li>7 dias de garantia</li>
                        <li>Acesso aos mini cursos</li>
                        <li>Comunidade Making-of</li>
                        <li>Perfil na plataforma</li>
                    </ul>
                    <a href="#">assinar</a>
                </div>
                <div class="preco-item recomendado">
                    <h2>Ouro</h2>
                    <span>Recomendado</span>
                    <span class="span"><sup>R$</sup> 6,99</span>
                    <span class="span2"> Total de <sup class="cifrao-sup">R$</sup> 83,88 ao ano <br>
                        <span class="italic">Com desconto de <span class="preco-porcento">31,1%</span></span></span>
                    <ul>
                        <li>Pagamento anual</li>
                        <li>30 dias de garantia</li>
                        <li>Acesso as mini cursos</li>
                        <li>Comunidade Making-of</li>
                        <li>Perfil na plataforma</li>
                        <!--li>Coaching de carreira</li-->
                        <li>Making-of Club</li>
                        <li>NDA para produções</li>
                    </ul>
                    <a href="#">Assinar</a>
                </div>
                <div class="preco-item">
                    <h2>Prata</h2>
                    <span class="span"><sup>R$</sup> 79</span>
                    <span class="span2"> 2 anos por <sup class="cifrao-sup">R$</sup> 47,40. <br> Total de <sup class="cifrao-sup">R$</sup> 79,00. <br>
                        <span class="italic span2">São 2 anos com <br><span class="preco-porcento">70% de desconto!</span></span></span>
                    <ul>
                        <li>Pagamento anual <br> no 3° ano o preço volta <br> ao valor integral</li>
                        <li>30 dias de garantia</li>
                        <li>Acesso as mini cursos</li>
                        <li>Comunidade Making-of</li>
                        <li>Perfil na plataforma</li>
                    </ul>
                    <a href="#">Assinar</a>
                </div>
            </section>

            <section class="faq-wrapper" id="faq">
                <h1>Perguntas frequentes!</h1>
                <div class="wrapper">
                    <div class="lista-item">
                        <input type="checkbox" class="trigger-input" id="faq-titulo-1">
                        <div class="trigger-wrapper">
                            <label for="faq-titulo-1">
                                <h2 class="faq-titulo">Vou ter meu potifólio online?</h2>
                            </label>
                            <p class="faq-conteudo">Sim! dentro da comunidade você poderá criar o seu próprio portifólio para
                                compartilhar com agencias e produtoras.</p>
                        </div>
                    </div>                    
                </div>

                <div class="seta">
                    <a href="#top">&uarr;</a>
                </div>
            </section>            
        </main>

        </aside>

        <footer class="footer">
            <p>Sellerofideas todos os direitos reservados</p>
            <div>
                <p><a href="">Contato via whatsapp: (44) 9 8859-4579</a></p>
                <p><a href="">E-mail: thesellerofideas8@gmail.com</a></p>
            </div>
        </footer>
    </div>
</body>
</html>