<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-br" xmlns="http://www.thymeleaf.org/1999/xhtml" xmlns:th:="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cadastro.css">
    <title>Cadastro de Perfil</title>
</head>

<body>
    <div class="estrutura">
        <header class="header">
            <nav class="nav">
                <img src="#logo" alt="Making-of"></img>
                <ul class="header-ul">
                    <li><a href="/">Home</a></li>
                    <li><a href="/meuPerfil">Meu perfil</a></li>
                    <li><a href="#planos">Patrocinadores</a></li>
                </ul>
            </nav>
        </header>

        <sidnav class="sidenav">
            <ul>
                <li><a href="#">Making-of Play</a></li>
                <li><a href="#">Cursos</a></li>
            </ul>
        </sidnav>

        <main class="content">
            <section class="dados-login">
                <h1 id="titulo">Cadastro de perfil</h1>
                <p id="subtitulo">Preencha todos os campos para criar seu perfil e acessar a comunidade making-of</p>

                <form th:object="${novoPerfil}" action="/cadastrar" class="form" name="cadastro" method="post">                    
                    <div class="dados-item">
                        <label for="nome" required="required">Nome completo:</label>
                        <input type="text" th:text="*{nome}" id="nome" >
                    </div>

                    <div class="dados-item">
                        <label for="nomeArtistico" required="required">Nome artistico:</label>
                        <input type="text" th:text="*{nomeArtistico}" id="nomeArtistico">
                    </div>

                    <div class="dados-item">
                        <label for="email" required="required">Email:</label>
                        <input type="email" th:text="*{email}" id="email" >
                    </div>

                    <!-- Login -->
                    <div class="dados-item">
                        <label for="senha">Senha:</label>
                        <input type="password" th:text="*{senha}" id="senha" cols="30" rows="2"
                            ></input>
                    </div>

                    <div class="dados-item">
                        <label for="re_password">Confirme a senha:</label>
                        <input type="password" name="re_password" id="re_password" cols="30" rows="2"></input>
                    </div>

                    <!-- Criar a lógica para trazer a resposta apenas quando o checkbox for true -->
                    <fildset class="job">
                        <div class="job-item">
                            <h2>Que tipo de job você procura?</h2>
                            <label for="job"> Ator/Atriz <input type="checkbox" name="ator"
                                    value="Ator/Atriz"></label>
                            <label for="job"> Modelo <input type="checkbox" name="modelo"
                                    value="Modelo"></label>
                            <label for="job">Roteirista <input type="checkbox" name="roteirista"
                                    value="Roteirista"></label>
                            <label for="job">Videomaker <input type="checkbox" name="videomaker"
                                    value="Videomaker"></label>
                            <label for="job">Direção <input type="checkbox" name="direcao"
                                    value="Direcao"></label>
                            <label for="job">Figurinista <input type="checkbox" name="producao"
                                    value="Producao"></label>
                            <label for="job">Assistente de Produção <input type="checkbox" name="assistente"
                                    value="Assistente"></label>
                            <label for="job">Makeup <input type="checkbox" name="makeup" value="Makeup"></label>
                        </div>
                    </fildset>

                    <!-- Validar data de aniversário com mensagem de aprovação ou não -->
                    <div class="idade">
                        <label for="idade" required="required">Idade:
                                <input type="date" th:text="*{idade}" value="Data de nascimento:"></input>
                            </select>
                        </label>
                    </div>

                    <div class="bio">
                        <label for="bio">Descrição/Bio:</label>
                        <textarea th:text="*{bio}" id="bio" cols="20" rows="3"
                            placeholder="Fale um pouco sobre você aqui" > </textarea>
                    </div>

                    <button type="submit" class="button">Cadastrar</button>
                </form>
            </section>
        </main>

    </div>

    <div class="seta">
        <a href="#top">&uarr;</a>
    </div>

    <footer class="footer">
        <p>Sellerofideas todos os direitos reservados</p>
        <div>
            <p><a href="">Contato via whatsapp: (44) 9 8859-4579</a></p>
            <p><a href="">E-mail: thesellerofideas8@gmail.com</a></p>
        </div>
    </footer>
    </div>
</body>

</html>